
        <footer class="site-footer">
            <div class="container">
                <div class="row footer-top">
                    <div class="footer-about col-md-5 col-sm-12">
                        <h4>版权声明</h4>
                        <p>{{domain}}（下简称：OJBK视频解析）为广大用户提供视频地址在线解析服务，用于用户备份及收藏个人喜爱的视频等。OJBK视频解析网不储存、发布相关视频，视频版权归属其合法持有人所有，本站不对使用者的行为负担任何法律责任。如果有因为本站而导致您的权益受到损害，请与我们联系，我们将理性对待，协助你解决相关问题。联系邮箱：admin#3pp.me。</p>
                        <p><a href="https://bwh1.net/aff.php?aff=6059" target="_blank" class="link">本网站由<img src="/static/img/bwh.png" height="20">强力驱动</a></p>
                    </div>
                    <div class="footer-link col-md-3 col-sm-12 hidden-xs">
                        <h4>友情链接</h4>
                        <ul class="list-inline">
                            <li class="list-link"><a target="_blank" href="http://www.baidu.com" class="link">百度</a></li>
                            <li class="list-link"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=228812493&site=qq&menu=yes" class="link">申请链接联系</a></li>
                        </ul>
                    </div>
                    <div class="footer-qqun col-md-4 col-sm-12">
                        <h4>加入QQ群</h4>
                        <ul class="list-unstyled">
                            <li class="list-qqun">
                                <a target="_blank" href="https://jq.qq.com/?_wv=1027&k=5WbHWEF">
                            <img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="秋名山司机" title="秋名山司机">
                        </a> 群号: 187123200
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <ul class="list-inline text-center footer-copyright">
                    <li>©2018</li>
                    <div style="display:none;"><script type="text/javascript" src="//js.users.51.la/19386833.js"></script></div>
                </ul>
            </div>
        </footer>
